@import url(//fonts.googleapis.com/css?family=Droid+Sans);
@import url(//fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(//fonts.googleapis.com/css?family=Droid+Sans);
@import url(//fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
/* line 24, ../scss/partials/_buttons.scss */
.button {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
  background-color: #e6e6e6;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #d9d9d9));
  background: -webkit-linear-gradient(top, #f2f2f2, #d9d9d9);
  background: -moz-linear-gradient(top, #f2f2f2, #d9d9d9);
  background: -o-linear-gradient(top, #f2f2f2, #d9d9d9);
  background: linear-gradient(top, #f2f2f2, #d9d9d9);
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border: 1px solid #cccccc;
  height: 32px;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "Droid Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  color: #666666;
  text-shadow: 0 1px 1px white;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
/* line 42, ../scss/partials/_buttons.scss */
.button:hover {
  background-color: #e6e6e6;
  color: #666666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d4d4d4));
  background: -webkit-linear-gradient(top, #ffffff, #d4d4d4);
  background: -moz-linear-gradient(top, #ffffff, #d4d4d4);
  background: -o-linear-gradient(top, #ffffff, #d4d4d4);
  background: linear-gradient(top, #ffffff, #d4d4d4);
}
/* line 47, ../scss/partials/_buttons.scss */
.button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  background: #e6e6e6;
  color: #b3b3b3;
}
/* line 53, ../scss/partials/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 59, ../scss/partials/_buttons.scss */
input.button, button.button {
  height: 34px;
  cursor: pointer;
  -webkit-appearance: none;
}

/* line 66, ../scss/partials/_buttons.scss */
.button-block {
  display: block;
}

/* line 75, ../scss/partials/_buttons.scss */
.button.disabled,
.button.disabled:hover,
.button.disabled:active,
input.button:disabled,
button.button:disabled {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: #EEE;
  border: 1px solid #DDD;
  text-shadow: 0 1px 1px white;
  color: #CCC;
  cursor: default;
  -webkit-appearance: none;
}

/* line 87, ../scss/partials/_buttons.scss */
.button-wrap {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #f2f2f2));
  background: -webkit-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -moz-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: -o-linear-gradient(top, #e3e3e3, #f2f2f2);
  background: linear-gradient(top, #e3e3e3, #f2f2f2);
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.04);
  padding: 10px;
  display: inline-block;
}

/* line 97, ../scss/partials/_buttons.scss */
.button-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e6e6e6;
  border: none;
  text-shadow: none;
}
/* line 106, ../scss/partials/_buttons.scss */
.button-flat:hover {
  background: #f2f2f2;
}
/* line 109, ../scss/partials/_buttons.scss */
.button-flat:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #e6e6e6;
  color: #b3b3b3;
}
/* line 114, ../scss/partials/_buttons.scss */
.button-flat.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 124, ../scss/partials/_buttons.scss */
.button-border {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #666666;
  border: 2px solid #666666;
  background: none;
  text-shadow: none;
}
/* line 133, ../scss/partials/_buttons.scss */
.button-border:hover {
  background: none;
  color: gray;
  border: 2px solid gray;
}
/* line 138, ../scss/partials/_buttons.scss */
.button-border:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #4d4d4d;
  border: 2px solid #4d4d4d;
}
/* line 144, ../scss/partials/_buttons.scss */
.button-border.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 154, ../scss/partials/_buttons.scss */
.button-3d {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b3b3b3, 0px 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b3b3b3, 0px 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b3b3b3, 0px 8px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #ebebeb, #e0e0e0);
  background: -moz-linear-gradient(top, #ebebeb, #e0e0e0);
  background: -o-linear-gradient(top, #ebebeb, #e0e0e0);
  background: linear-gradient(top, #ebebeb, #e0e0e0);
  background-color: #e6e6e6;
  color: #666666;
  border: 1px solid #d9d9d9;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 166, ../scss/partials/_buttons.scss */
.button-3d:hover {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b3b3b3, 0px 8px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b3b3b3, 0px 8px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #b3b3b3, 0px 8px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(top, #fafafa, #e3e3e3);
  background: -moz-linear-gradient(top, #fafafa, #e3e3e3);
  background: -o-linear-gradient(top, #fafafa, #e3e3e3);
  background: linear-gradient(top, #fafafa, #e3e3e3);
  background-color: white;
}
/* line 171, ../scss/partials/_buttons.scss */
.button-3d:active {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #b3b3b3, 0px 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #b3b3b3, 0px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #b3b3b3, 0px 3px 3px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #e0e0e0, #ebebeb);
  background: -moz-linear-gradient(top, #e0e0e0, #ebebeb);
  background: -o-linear-gradient(top, #e0e0e0, #ebebeb);
  background: linear-gradient(top, #e0e0e0, #ebebeb);
  background-color: #e6e6e6;
  color: #b3b3b3;
  border: 1px solid #d9d9d9;
  top: 5px;
}
/* line 179, ../scss/partials/_buttons.scss */
.button-3d.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 227, ../scss/partials/_buttons.scss */
.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f2f2f), color-stop(100%, #151515));
  background: -webkit-linear-gradient(top, #2f2f2f, #151515);
  background: -moz-linear-gradient(top, #2f2f2f, #151515);
  background: -o-linear-gradient(top, #2f2f2f, #151515);
  background: linear-gradient(top, #2f2f2f, #151515);
  background-color: #222222;
  border-color: #090909;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-primary:hover {
  background-color: #222222;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3c3c3c), color-stop(100%, #151515));
  background: -webkit-linear-gradient(top, #3c3c3c, #151515);
  background: -moz-linear-gradient(top, #3c3c3c, #151515);
  background: -o-linear-gradient(top, #3c3c3c, #151515);
  background: linear-gradient(top, #3c3c3c, #151515);
}
/* line 238, ../scss/partials/_buttons.scss */
.button-primary:active {
  background: #222222;
  color: black;
}

/* line 251, ../scss/partials/_buttons.scss */
.button-3d-primary {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #090909, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #090909, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #090909, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #272727), color-stop(100%, #1d1d1d));
  background: -webkit-linear-gradient(top, #272727, #1d1d1d);
  background: -moz-linear-gradient(top, #272727, #1d1d1d);
  background: -o-linear-gradient(top, #272727, #1d1d1d);
  background: linear-gradient(top, #272727, #1d1d1d);
  background-color: #222222;
  color: white;
  border: 1px solid #090909;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-primary:hover {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #030303, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #030303, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #030303, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #363636), color-stop(100%, #1f1f1f));
  background: -webkit-linear-gradient(top, #363636, #1f1f1f);
  background: -moz-linear-gradient(top, #363636, #1f1f1f);
  background: -o-linear-gradient(top, #363636, #1f1f1f);
  background: linear-gradient(top, #363636, #1f1f1f);
  background-color: #3c3c3c;
}
/* line 268, ../scss/partials/_buttons.scss */
.button-3d-primary:active {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #090909, 0px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #090909, 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #090909, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1d1d1d), color-stop(100%, #272727));
  background: -webkit-linear-gradient(top, #1d1d1d, #272727);
  background: -moz-linear-gradient(top, #1d1d1d, #272727);
  background: -o-linear-gradient(top, #1d1d1d, #272727);
  background: linear-gradient(top, #1d1d1d, #272727);
  background-color: #222222;
  color: black;
  border: 1px solid #151515;
  top: 5px;
}
/* line 276, ../scss/partials/_buttons.scss */
.button-3d-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 290, ../scss/partials/_buttons.scss */
.button-border-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #222222;
  border: 2px solid #222222;
  background: none;
  text-shadow: none;
}
/* line 299, ../scss/partials/_buttons.scss */
.button-border-primary:hover {
  background: none;
  color: #3c3c3c;
  border: 2px solid #3c3c3c;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-primary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #090909;
  border: 2px solid #090909;
}
/* line 310, ../scss/partials/_buttons.scss */
.button-border-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 322, ../scss/partials/_buttons.scss */
.button-flat-primary {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #222222;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 331, ../scss/partials/_buttons.scss */
.button-flat-primary:hover {
  background: #2f2f2f;
}
/* line 334, ../scss/partials/_buttons.scss */
.button-flat-primary:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #222222;
  color: black;
}
/* line 339, ../scss/partials/_buttons.scss */
.button-flat-primary.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 227, ../scss/partials/_buttons.scss */
.button-action {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3885e0), color-stop(100%, #1f6bc7));
  background: -webkit-linear-gradient(top, #3885e0, #1f6bc7);
  background: -moz-linear-gradient(top, #3885e0, #1f6bc7);
  background: -o-linear-gradient(top, #3885e0, #1f6bc7);
  background: linear-gradient(top, #3885e0, #1f6bc7);
  background-color: #2277dd;
  border-color: #1b5fb1;
  color: white;
  text-shadow: 0 -1px 1px rgba(14, 48, 88, 0.35);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-action:hover {
  background-color: #2277dd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4e92e4), color-stop(100%, #1f6bc7));
  background: -webkit-linear-gradient(top, #4e92e4, #1f6bc7);
  background: -moz-linear-gradient(top, #4e92e4, #1f6bc7);
  background: -o-linear-gradient(top, #4e92e4, #1f6bc7);
  background: linear-gradient(top, #4e92e4, #1f6bc7);
}
/* line 238, ../scss/partials/_buttons.scss */
.button-action:active {
  background: #3b79c4;
  color: #144785;
}

/* line 251, ../scss/partials/_buttons.scss */
.button-3d-action {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #1b5fb1, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #1b5fb1, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #1b5fb1, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2b7cde), color-stop(100%, #2172d4));
  background: -webkit-linear-gradient(top, #2b7cde, #2172d4);
  background: -moz-linear-gradient(top, #2b7cde, #2172d4);
  background: -o-linear-gradient(top, #2b7cde, #2172d4);
  background: linear-gradient(top, #2b7cde, #2172d4);
  background-color: #2277dd;
  color: white;
  border: 1px solid #1b5fb1;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-action:hover {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #1a5aa8, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #1a5aa8, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #1a5aa8, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #458de2), color-stop(100%, #2175d9));
  background: -webkit-linear-gradient(top, #458de2, #2175d9);
  background: -moz-linear-gradient(top, #458de2, #2175d9);
  background: -o-linear-gradient(top, #458de2, #2175d9);
  background: linear-gradient(top, #458de2, #2175d9);
  background-color: #4e92e4;
}
/* line 268, ../scss/partials/_buttons.scss */
.button-3d-action:active {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #1b5fb1, 0px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #1b5fb1, 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #1b5fb1, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2172d4), color-stop(100%, #2b7cde));
  background: -webkit-linear-gradient(top, #2172d4, #2b7cde);
  background: -moz-linear-gradient(top, #2172d4, #2b7cde);
  background: -o-linear-gradient(top, #2172d4, #2b7cde);
  background: linear-gradient(top, #2172d4, #2b7cde);
  background-color: #3b79c4;
  color: #144785;
  border: 1px solid #1f6bc7;
  top: 5px;
}
/* line 276, ../scss/partials/_buttons.scss */
.button-3d-action.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 290, ../scss/partials/_buttons.scss */
.button-border-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #2277dd;
  border: 2px solid #2277dd;
  background: none;
  text-shadow: none;
}
/* line 299, ../scss/partials/_buttons.scss */
.button-border-action:hover {
  background: none;
  color: #4e92e4;
  border: 2px solid #4e92e4;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-action:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #1b5fb1;
  border: 2px solid #1b5fb1;
}
/* line 310, ../scss/partials/_buttons.scss */
.button-border-action.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 322, ../scss/partials/_buttons.scss */
.button-flat-action {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #2277dd;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 331, ../scss/partials/_buttons.scss */
.button-flat-action:hover {
  background: #3885e0;
}
/* line 334, ../scss/partials/_buttons.scss */
.button-flat-action:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #3b79c4;
  color: #18539b;
}
/* line 339, ../scss/partials/_buttons.scss */
.button-flat-action.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 227, ../scss/partials/_buttons.scss */
.button-highlight {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f98b06), color-stop(100%, #c86f04));
  background: -webkit-linear-gradient(top, #f98b06, #c86f04);
  background: -moz-linear-gradient(top, #f98b06, #c86f04);
  background: -o-linear-gradient(top, #f98b06, #c86f04);
  background: linear-gradient(top, #f98b06, #c86f04);
  background-color: #e17d05;
  border-color: #af6104;
  color: white;
  text-shadow: 0 -1px 1px rgba(75, 42, 2, 0.35);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-highlight:hover {
  background-color: #e17d05;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa961f), color-stop(100%, #c86f04));
  background: -webkit-linear-gradient(top, #fa961f, #c86f04);
  background: -moz-linear-gradient(top, #fa961f, #c86f04);
  background: -o-linear-gradient(top, #fa961f, #c86f04);
  background: linear-gradient(top, #fa961f, #c86f04);
}
/* line 238, ../scss/partials/_buttons.scss */
.button-highlight:active {
  background: #ca7b1c;
  color: #7d4603;
}

/* line 251, ../scss/partials/_buttons.scss */
.button-3d-highlight {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #af6104, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #af6104, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #af6104, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb8305), color-stop(100%, #d77705));
  background: -webkit-linear-gradient(top, #eb8305, #d77705);
  background: -moz-linear-gradient(top, #eb8305, #d77705);
  background: -o-linear-gradient(top, #eb8305, #d77705);
  background: linear-gradient(top, #eb8305, #d77705);
  background-color: #e17d05;
  color: white;
  border: 1px solid #af6104;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-highlight:hover {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #a55c04, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #a55c04, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #a55c04, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9215), color-stop(100%, #dc7a05));
  background: -webkit-linear-gradient(top, #fa9215, #dc7a05);
  background: -moz-linear-gradient(top, #fa9215, #dc7a05);
  background: -o-linear-gradient(top, #fa9215, #dc7a05);
  background: linear-gradient(top, #fa9215, #dc7a05);
  background-color: #fa961f;
}
/* line 268, ../scss/partials/_buttons.scss */
.button-3d-highlight:active {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #af6104, 0px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #af6104, 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #af6104, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d77705), color-stop(100%, #eb8305));
  background: -webkit-linear-gradient(top, #d77705, #eb8305);
  background: -moz-linear-gradient(top, #d77705, #eb8305);
  background: -o-linear-gradient(top, #d77705, #eb8305);
  background: linear-gradient(top, #d77705, #eb8305);
  background-color: #ca7b1c;
  color: #7d4603;
  border: 1px solid #c86f04;
  top: 5px;
}
/* line 276, ../scss/partials/_buttons.scss */
.button-3d-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 290, ../scss/partials/_buttons.scss */
.button-border-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #e17d05;
  border: 2px solid #e17d05;
  background: none;
  text-shadow: none;
}
/* line 299, ../scss/partials/_buttons.scss */
.button-border-highlight:hover {
  background: none;
  color: #fa961f;
  border: 2px solid #fa961f;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-highlight:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #af6104;
  border: 2px solid #af6104;
}
/* line 310, ../scss/partials/_buttons.scss */
.button-border-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 322, ../scss/partials/_buttons.scss */
.button-flat-highlight {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e17d05;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 331, ../scss/partials/_buttons.scss */
.button-flat-highlight:hover {
  background: #f98b06;
}
/* line 334, ../scss/partials/_buttons.scss */
.button-flat-highlight:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #ca7b1c;
  color: #965303;
}
/* line 339, ../scss/partials/_buttons.scss */
.button-flat-highlight.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 227, ../scss/partials/_buttons.scss */
.button-caution {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed2c1a), color-stop(100%, #c51e0f));
  background: -webkit-linear-gradient(top, #ed2c1a, #c51e0f);
  background: -moz-linear-gradient(top, #ed2c1a, #c51e0f);
  background: -o-linear-gradient(top, #ed2c1a, #c51e0f);
  background: linear-gradient(top, #ed2c1a, #c51e0f);
  background-color: #dd2211;
  border-color: #ae1b0d;
  color: white;
  text-shadow: 0 -1px 1px rgba(79, 12, 6, 0.35);
}
/* line 234, ../scss/partials/_buttons.scss */
.button-caution:hover {
  background-color: #dd2211;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ef4232), color-stop(100%, #c51e0f));
  background: -webkit-linear-gradient(top, #ef4232, #c51e0f);
  background: -moz-linear-gradient(top, #ef4232, #c51e0f);
  background: -o-linear-gradient(top, #ef4232, #c51e0f);
  background: linear-gradient(top, #ef4232, #c51e0f);
}
/* line 238, ../scss/partials/_buttons.scss */
.button-caution:active {
  background: #c53629;
  color: #7e130a;
}

/* line 251, ../scss/partials/_buttons.scss */
.button-3d-caution {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #ae1b0d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #ae1b0d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #ae1b0d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e62312), color-stop(100%, #d42110));
  background: -webkit-linear-gradient(top, #e62312, #d42110);
  background: -moz-linear-gradient(top, #e62312, #d42110);
  background: -o-linear-gradient(top, #e62312, #d42110);
  background: linear-gradient(top, #e62312, #d42110);
  background-color: #dd2211;
  color: white;
  border: 1px solid #ae1b0d;
  text-shadow: none;
  position: relative;
  top: 0px;
}
/* line 263, ../scss/partials/_buttons.scss */
.button-3d-caution:hover {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #a4190d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #a4190d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 7px 0px #a4190d, 0px 8px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee3928), color-stop(100%, #d82111));
  background: -webkit-linear-gradient(top, #ee3928, #d82111);
  background: -moz-linear-gradient(top, #ee3928, #d82111);
  background: -o-linear-gradient(top, #ee3928, #d82111);
  background: linear-gradient(top, #ee3928, #d82111);
  background-color: #ef4232;
}
/* line 268, ../scss/partials/_buttons.scss */
.button-3d-caution:active {
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #ae1b0d, 0px 3px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #ae1b0d, 0px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px -1px 1px rgba(255, 255, 255, 0.15), 0px 2px 0px #ae1b0d, 0px 3px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d42110), color-stop(100%, #e62312));
  background: -webkit-linear-gradient(top, #d42110, #e62312);
  background: -moz-linear-gradient(top, #d42110, #e62312);
  background: -o-linear-gradient(top, #d42110, #e62312);
  background: linear-gradient(top, #d42110, #e62312);
  background-color: #c53629;
  color: #7e130a;
  border: 1px solid #c51e0f;
  top: 5px;
}
/* line 276, ../scss/partials/_buttons.scss */
.button-3d-caution.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 290, ../scss/partials/_buttons.scss */
.button-border-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #dd2211;
  border: 2px solid #dd2211;
  background: none;
  text-shadow: none;
}
/* line 299, ../scss/partials/_buttons.scss */
.button-border-caution:hover {
  background: none;
  color: #ef4232;
  border: 2px solid #ef4232;
}
/* line 304, ../scss/partials/_buttons.scss */
.button-border-caution:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: none;
  color: #ae1b0d;
  border: 2px solid #ae1b0d;
}
/* line 310, ../scss/partials/_buttons.scss */
.button-border-caution.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 322, ../scss/partials/_buttons.scss */
.button-flat-caution {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #dd2211;
  color: white;
  text-shadow: none;
  border: none;
}
/* line 331, ../scss/partials/_buttons.scss */
.button-flat-caution:hover {
  background: #ed2c1a;
}
/* line 334, ../scss/partials/_buttons.scss */
.button-flat-caution:active {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  background: #c53629;
  color: #96170c;
}
/* line 339, ../scss/partials/_buttons.scss */
.button-flat-caution.disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

/* line 359, ../scss/partials/_buttons.scss */
.button-jumbo {
  font-size: 24px;
  height: 51.2px;
  line-height: 51.2px;
  padding: 0px 40.96px;
}

/* line 359, ../scss/partials/_buttons.scss */
.button-large {
  font-size: 19px;
  height: 38.4px;
  line-height: 38.4px;
  padding: 0px 30.72px;
}

/* line 390, ../scss/partials/_buttons.scss */
input.button-large, button.button-large {
  height: 40.4px;
}

/* line 359, ../scss/partials/_buttons.scss */
.button-small {
  font-size: 15px;
  height: 25.6px;
  line-height: 25.6px;
  padding: 0px 20.48px;
}

/* line 390, ../scss/partials/_buttons.scss */
input.button-small, button.button-small {
  height: 27.6px;
}

/* line 359, ../scss/partials/_buttons.scss */
.button-tiny {
  font-size: 12px;
  height: 22.4px;
  line-height: 22.4px;
  padding: 0px 17.92px;
}

/* line 390, ../scss/partials/_buttons.scss */
input.button-tiny, button.button-tiny {
  height: 24.4px;
}
