// Based on _options.scss from Buttons


//////////////////////////////////////////////////////////
// BASE DEFAULTS /////////////////////////////////////////
//////////////////////////////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

$font-family-serif: "Gentium Book Basic", Georgia, Times, "Times New Roman", serif;
$font-family-sans: "Droid Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
$font-family-mono: "Source Code Pro", Courier, "Courier New", monospace;
$font-size: 16px;

$color-black: #222;
$color-bg: #fff;
$color-main: #27d; //27
$color-accent: #d21; //17
$color-secondary: #e17D05; //22
$unicorn-btn-namespace: ".button"; //prefix for all classes
$unicorn-btn-glow-namespace: ".glow";
$unicorn-btn-glow-color: #2c9adb;
$unicorn-btn-bgcolor: darken($color-bg, 10%);
$unicorn-btn-height: 32px;


//////////////////////////////////////////////////////////
// TYPOGRAPHY ////////////////////////////////////////////
//////////////////////////////////////////////////////////
$body-font: $font-family-serif;
$headline-font: $font-family-serif;
$unicorn-btn-font-color: #666;
$unicorn-btn-font-size: $font-size - 2;
$unicorn-btn-font-weight: 300;
$unicorn-btn-font-family: $font-family-sans;

//////////////////////////////////////////////////////////
// BUTTON OPTIONS ////////////////////////////////////////
//////////////////////////////////////////////////////////

// (name background-color font-color) add as many as you like.
$unicorn-btn-actions: 
	('primary' #222 #FFFFFF) 
	('action' $color-main #FFFFFF) 
	('highlight' $color-secondary #FFFFFF) 
	('caution' $color-accent #FFFFFF) ;
// Remove any type to omit from final CSS build
$unicorn-btn-types: '3d' 'border' 'flat';
$unicorn-btn-sizes: 'jumbo' 'large' 'small' 'tiny';
$unicorn-btn-circle-size: 120px; //radius for circle buttons, circles only have one size


//////////////////////////////////////////////////////////
// DROPDOWN OPTIONS //////////////////////////////////////
//////////////////////////////////////////////////////////
$unicorn-btn-dropdown-background: #fcfcfc;
$unicorn-btn-dropdown-link-color: #333;
$unicorn-btn-dropdown-link-hover: #FFF;
$unicorn-btn-dropdown-link-hover-background: #3c6ab9;
